@use "styles/variables/general";

.chartContainer {
  svg {
    width: 100%;
    height: 100%;
    padding: 5px 0;

    :global(.tick rect) {
      animation: general.pulse-animation(fill);
    }

    .chartLine.skeleton {
      animation: general.pulse-animation(stroke, 0.1s);
    }
  }
}

:export {
  roundCorners: general.$round-corners;
}
