@use "styles/variables/colors";

#homeContainer {
  padding: 20px;
  display: flex;
  flex-direction: column;

  #welcomeMessage {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex: 1;
    align-items: center;
    justify-content: center;
    text-align: center;

    h1 {
      text-align: center;
    }
  }
}
