@use "styles/variables/colors";

@use "styles/mixins/responsive";

#homeContainer {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  gap: clamp(12px, 5%, 40px);

  > * {
    padding: 0 20px;
  }

  #welcomeMessage {
    display: flex;
    flex-direction: column;
    margin-top: -40px; // Compensate for #homeContainer gap
    width: 100%;
    flex: 1;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  #priceInfoContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include responsive.breakpoint-down(small) {
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;
    }
  }
}
