// Primary color (teal)
$primary-1: var(--mint1);
$primary-2: var(--mint2);
$primary-3: var(--mint3);
$primary-4: var(--mint4);
$primary-5: var(--mint5);
$primary-6: var(--mint6);
$primary-7: var(--mint7);
$primary-8: var(--mint8);
$primary-9: var(--mint9);
$primary-10: var(--mint10);
$primary-11: var(--mint11);
$primary-12: var(--mint12);

// Turquoise (old)
$turquoise-50: #dbfefe;
$turquoise-100: #b6f6f6;
$turquoise-200: #8deded;
$turquoise-300: #64e4e4;
$turquoise-400: #3cdddd;
$turquoise-500: #22c3c3;
$turquoise-600: #129898;
$turquoise-700: #026e6e;
$turquoise-800: #004242;
$turquoise-900: #001818;

// Gray
$neutral-1: var(--slate1);
$neutral-2: var(--slate2);
$neutral-3: var(--slate3);
$neutral-4: var(--slate4);
$neutral-5: var(--slate5);
$neutral-6: var(--slate6);
$neutral-7: var(--slate7);
$neutral-8: var(--slate8);
$neutral-9: var(--slate9);
$neutral-10: var(--slate10);
$neutral-11: var(--slate11);
$neutral-12: var(--slate12);

// Red
$red-1: var(--red1);
$red-2: var(--red2);
$red-3: var(--red3);
$red-4: var(--red4);
$red-5: var(--red5);
$red-6: var(--red6);
$red-7: var(--red7);
$red-8: var(--red8);
$red-9: var(--red9);
$red-10: var(--red10);
$red-11: var(--red11);
$red-12: var(--red12);

// Gray (old)
$gray-50: #f2f2f2;
$gray-100: #d9d9d9;
$gray-200: #bfbfbf;
$gray-300: #a6a6a6;
$gray-400: #8c8c8c;
$gray-500: #737373;
$gray-600: #595959;
$gray-700: #404040;
$gray-800: #262626;
$gray-850: #181818;
$gray-870: #151515;
$gray-900: #0d0d0d;

/***** GRADIENTS *****/
$turquoise-gradient-600-800: linear-gradient(
  116.98deg,
  $turquoise-600 27.83%,
  $turquoise-800 83.8%
);

$gray-gradient-870-850: linear-gradient(
  125.48deg,
  $gray-870 7.3%,
  $gray-850 90.33%
);

// $gray-gradient-870-850: linear-gradient(
//   125.48deg,
//   $gray-12 7.3%,
//   $primary-12 90.33%
// );

/*** FONTS ***/
$title-color: $neutral-12;
$subtitle-color: $neutral-11;

$body-text-color: $neutral-11;
$link-color: $neutral-11;
