/**** Fonts families ****/
$nunito: "Nunito", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, sans-serif;
$open-sans: "Open Sans", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
  Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, sans-serif;

/**** Font sizes ****/
$base-font-size: 14px;

$h1-font-size: 2.57rem;
$h2-font-size: 2rem;
$h3-font-size: 1.57rem;
$h4-font-size: 1.28rem;
$h5-font-size: 1rem;
$h6-font-size: 0.85rem;

$large-body-font-size: 1.15rem;
$body-font-size: 1rem;
$small-body-font-size: 1rem;

$link-font-size: 1rem;

/**** Font weights ****/
$regular: 400;
$semi-bold: 600;
$bold: 700;
