/**** Spacing ****/
$viewport-horizontal-padding: 20px;

/**** Round corners ****/
$round-corners: 8px;

/**** Padding ****/
$input-padding: 8px 12px;
$large-input-padding: 16px 24px;

$list-item-padding: 8px 12px;

/**** Transitions ****/
@function input-transition($property) {
  @return transition(0.25s, $property);
}

@function transition($time, $property, $easing: ease-in-out) {
  @return $time $property $easing;
}
