@use "styles/variables/colors";
@use "styles/variables/fonts";
@use "styles/variables/general";

$search-focussed-color: colors.$primary-8;
$search-blurred-font-color: colors.$neutral-11;
$search-icon-width: fonts.$large-body-font-size * 2.5;

.searchContainer {
  max-width: 500px;
  position: relative;

  &.focussed .searchInputContainer .searchIconWrapper svg path {
    // fill: $search-focussed-color;
  }

  &.error .searchInputContainer .searchInput {
    outline-color: colors.$red-8;
  }

  .searchInputContainer {
    position: relative;

    .searchIconWrapper {
      position: absolute;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      width: $search-icon-width;

      > svg {
        width: fonts.$large-body-font-size * 1.1;
        height: fonts.$large-body-font-size * 1.1;

        path {
          fill: $search-blurred-font-color;
          transition: general.input-transition(fill);
        }
      }
    }

    .searchInput {
      background-color: colors.$neutral-3;
      color: colors.$neutral-12;
      padding: general.$large-input-padding;
      padding-left: $search-icon-width;
      font-size: fonts.$large-body-font-size;
      border-radius: general.$round-corners;
      width: 100%;
      caret-color: colors.$neutral-12;
      outline: 2px solid transparent;

      transition: general.input-transition(outline);

      &::placeholder {
        color: $search-blurred-font-color;
        transition: general.input-transition(color);
      }

      &:focus {
        outline-color: $search-focussed-color;

        &::placeholder {
          // color: $search-focussed-color;
        }
      }
    }
  }
}
